name: main

on: [ push, pull_request ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ '20.7.0' ]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}

      - name: Install dependencies
        run: npm ci

      - name: Generate all
        run: npm run generate:all

      - name: Type check
        run: npm run check-types

      - name: Run lint
        run: npm run lint

      - name: Build sources
        run: npm run build